:root {
    --default-color: #262627;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(216, 216, 216);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
.container svg {
    width: 100%;
}




#logo tspan {
    animation: textAnimete 2s infinite alternate;
}

@keyframes textAnimete {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset: 20%;
    }
    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffset: -20%;
    }
}


#logo_spinner #Page-1{
    animation: fill-opcty 2s ease forwards 2.4s;
}

#logo_spinner path:nth-child(1) {
    stroke-dasharray: 499;
    stroke-dashoffset: 499;
    animation: line-ani 2s ease forwards;
}
#logo_spinner path:nth-child(2) {
    stroke-dasharray: 731;
    stroke-dashoffset: 731;
    animation: line-ani 2s ease forwards 0.3s;
}
#logo_spinner path:nth-child(3) {
    stroke-dasharray: 702;
    stroke-dashoffset: 702;
    animation: line-ani 2s ease forwards 0.6s;
}
#logo_spinner path:nth-child(4) {
    stroke-dasharray: 653;
    stroke-dashoffset: 653;
    animation: line-ani 2s ease forwards 0.9s;
}
#logo_spinner path:nth-child(5) {
    stroke-dasharray: 545;
    stroke-dashoffset: 545;
    animation: line-ani 2s ease forwards 1.2s;
}
#logo_spinner path:nth-child(6) {
    stroke-dasharray: 731;
    stroke-dashoffset: 731;
    animation: line-ani 2s ease forwards 1.5s;
}
#logo_spinner path:nth-child(7) {
    stroke-dasharray: 444;
    stroke-dashoffset: 444;
    animation: line-ani 2s ease forwards 1.8s;
}
#logo_spinner path:nth-child(8) {
    stroke-dasharray: 471;
    stroke-dashoffset: 471;
    animation: line-ani 2s ease forwards 2.1s;
}
#logo_spinner path:nth-child(9) {
    stroke-dasharray: 731;
    stroke-dashoffset: 731;
    animation: line-ani 2s ease forwards 2.4s;
}

@keyframes fill-opcty {
    to{
        fill-opacity: 1;
    }
}

@keyframes line-ani {
    to {
        stroke-dashoffset: 0;
        fill: var(--default-color);
    }
}
